.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo SISTEMAS DE INFORMACIÓN EN LOS CENTROS DE DISTRIBUCIÓN
            h1.curso-titulo Elaboración del informe técnico

            .brand-line-primary

            p.curso-descripcion El contenido del presente material, permitirá reconocer los aspectos relacionados con la relación entre las organizaciones y los Sistemas de Información, de igual forma sus  características más relevantes para su funcionamiento. 

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6

            .d-none.d-lg-block

                p.text-center
                
                    img(src="assets/images/header/header_media.png", style="max-width: 80%").img-fluid