include ../mixins/functions

+pageHeader('Elaboración del informe técnico', 'assets/images/header/header_media.png')

.container#introduccion

    .header-ecored

        h1 Introducción

        .brand-line-primary

    .row.my-5.mx-0
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8LR2uZIErhw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    p En el siguiente material encontrará herramientas necesarias para comprender la forma de estructurar un informe técnico, identificando sus principales características y generalidades, además, conocerá algunas estrategias y técnicas que se pueden emplear para realizar una adecuada presentación. La elaboración y presentación de un informe son aspectos complementarios, ya que el contenido y su divulgación asertiva, permitirán alcanzar los objetivos propuestos.