include ../mixins/functions

+pageHeader('Elaboración del informe técnico', 'assets/images/header/header_media.png')

.container#informes

    .header-ecored

        h1 1. Informes técnicos en las organizaciones

    .row.mx-0
        
        .card

            img(src="assets/images/pages/img1.jpg", style="max-width: 100%").img-fluid

            .card-body

                .card-text

                    p Dentro del desarrollo de las actividades en las organizaciones, se establecen necesidades de presentar de forma técnica diversas situaciones, procesos, proyectos u otras situaciones vitales para su operación. Esta forma de presentar, permite tener un conocimiento más puntual de diversas situaciones, por ejemplo, la presentación del informe de rendimiento de una nueva maquinaria adquirida recientemente para uno de los procesos productivos de la empresa, en el cual se deben incluir las especificaciones de la máquina, su capacidad con unidades de medida correspondientes, su consumo de energía o de combustible, reparaciones realizadas, ciclo de vida del equipo y de sus partes, entre muchos otros tipos de información técnica que describa detalladamente los aspectos relacionados con una situación.
    
    br

.container#generalidades

    .header-ecored

        h2 1.1.	Generalidades y características

    .card.mb-3

        .row.no-gutters
            
            .col-md-6

                .card-body

                    .card-text

                        p Los objetivos de un informe pueden ser diferentes; sin embargo, comúnmente está elaborado para contextualizar a un grupo de personas interesadas sobre un tema en especial; de igual forma, para soportar la toma de decisiones, el avance de un proyecto, evidenciar el desempeño de un proceso, justificar la compra de un material o equipo, o la contratación de un personal muy especializado y técnico.

                        br

                        p En su generalidad, conserva unos aspectos básicos que lo caracteriza, tales como:

            .col-md-6.col-xl-6(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img2.jpg'); background-size: contain; background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: row; align-content: end; flex-wrap: wrap;")

    br
        
    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img1.png", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px").py-3

            p.mx-2.my-2
                strong La claridad

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Los informes deben ser entendidos por cualquier tipo de persona, independientemente de su formación académica o experiencia laboral. En cuanto a los informes técnicos, estos llevan un componente de términos y expresiones técnicas, las cuales debe tener claridad y detalle para ser entendido.
    
    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img2.png", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px").py-3

            p.mx-2.my-2
                strong Científicos

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 La redacción utilizada en este tipo de documentos debe ser lo más directa posible, ya que no requiere adornos literarios, sino que debe ser puntual y la coherencia entre las ideas expuestas debe ser mayor porque se requiere llevar al lector por un camino de conocimiento y que llegue a una conclusión. La coherencia entre los conceptos expresados e ideas presentadas son fundamentales en un informe técnico o científico.

    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img3.png", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px").py-3

            p.mx-2.my-2
                strong Objetividad

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Esta característica, es esencial para demostrar y soportar la credibilidad de su contenido e investigación, ya que aparte de la claridad en el contenido, el informe debe contener un soporte bibliográfico o de fuentes que soporten la veracidad de la información.

    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img4.png", style="max-width: 60%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px").py-3

            p.mx-2.my-2
                strong Replicabilidad

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Este aspecto está relacionado con la capacidad de comparar, de verificar y probar la veracidad de la información registrada en un informe.

    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img5.png", style="max-width: 50%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px").py-3

            p.mx-2.my-2
                strong Sobriedad

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Se debe utilizar un lenguaje apropiado, el cual está determinado por el contenido y enfoque del informe.
    
    br
    br

.container#estructura

    .header-ecored

        h2 1.2. Estructura

    .card.mb-3

        .row.no-gutters
            
            .col-md-6

                .card-body

                    .card-text

                        p Dada la similitud y contenido de un informe técnico y uno científico, se presentará a continuación el contenido general en los dos tipos, ya que se requiere contar con una estructura homogénea con el fin de que la organización cuente con bases estandarizadas para su presentación y se logren los objetivos propuestos.

            .col-md-6.col-xl-6(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img3.jpg'); background-size: contain; background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: row; align-content: end; flex-wrap: wrap;")
    
    br

    .row(style="background-color: #D3F1FF; border-top-left-radius: 10px; border-top-right-radius: 10px;").p-0.mx-0

        .col-12(style="padding: 1.5rem")

            p(style="color: #049BE5; font-size: 26px").py-2.px-2.my-0 Informe científico

            p.py-2.px-2 Los experimentos realizados en cualquier área del conocimiento o contexto organizacional, se deben presentar de forma sistémica, permitiendo que el lector pueda introducirse fácilmente al tema. La estructura básica de un informe científico es la siguiente, donde se muestra inicialmente el contexto, objetivo, propósito y procesos relacionados en su desarrollo:

        .col-12.text-center

            img(src="assets/images/pages/img15.svg", style="max-width: 80%").img-fluid

        br

    .row.mx-0

        .card

            .card-img-top

                img(src="assets/images/pages/img4.jpg", style="max-width: 100%").img-fluid
            
            .card-body

                .card-title

                    p(style="color: #049BE5; font-size: 26px") Informe técnico

                .card-text 

                    p Es un poco más conciso que el informe científico, tiene 5 elementos esenciales que permiten mostrar claramente el estado de una situación en particular y se caracteriza por su precisión:

        .col-12

            #accordionExample.accordion

                .card
                    #headingOne.card-header
                        p(style="margin-top: 1rem")
                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Resumen
                    #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img1.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p El límite de palabras que se pueden determinar previamente para conservar un aspecto homogéneo en los diferentes informes técnicos regularmente está entre 200 y 300 palabras.
        
                .card
                    #headingTwo.card-header
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Introducción
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample', style="background-color: #E5F4F3")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img2.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p Es la contextualización del tema a tratar, permite al lector ubicarse en espacio y tiempo sobre el tema a desarrollar. Regularmente, para una introducción en un informe técnico, se utiliza entre 1 página y media, y 2 páginas.
                
                .card
                    #headingThree.card-header
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Antecedentes
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E5F4F3")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img3.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p La extensión del desarrollo del informe no tiene límite específico, ya que, según la complejidad y detalle del tema, así será la amplitud. Independiente de su extensión, debe conservar la coherencia entre las ideas, un nivel adecuado de síntesis y que los objetivos planteados desde el inicio se evidencien su desarrollo y logro.

                .card
                    #headingFour.card-header
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Período que abarca y dónde se realizó
                    #collapseFour.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E5F4F3")
                        .card-body

                           .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img4.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p En este punto se presenta de forma resumida los aspectos tratados durante el desarrollo del informe.

                .card
                    #headingFive.card-header
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Objetivo general
                    #collapseFive.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E5F4F3")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img5.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p Es importante describir, en este punto del informe, la secuencia de actividades y pasos realizados para su desarrollo, citando adecuadamente las referencias y fuentes tomadas.

    br

    .row.mx-0

        .col-12.col-md-6(style="background-color: #FFFFFF; padding: 1rem")

            p Tomando como ejemplo, la guía para la presentación de informes técnicos de avance y final de programas y proyectos de CTel de Colciencias (2014), se muestra a continuación su estructura especifica:

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 01

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Consideraciones generales. En este punto se realiza una introducción general al tema que se desarrollará en el informe, con el fin de contextualizar al lector.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 02

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Contenido y presentación de los informes.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 03

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Identificación del Programa / Proyecto.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 04

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Tabla de contenido.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 05

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Resumen.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 06

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Sinopsis técnica.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 07

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Cumplimiento de los objetivos (generales y específicos).

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 08

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Descripción de otros resultados obtenidos.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 09

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Resultados adicionales.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 10

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Cumplimiento de la metodología.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 11

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Cronograma de ejecución a la fecha, dificultades y plan de contingencia.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 12

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Aspectos financieros.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 13

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Discusión y análisis.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 14

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Conclusiones.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 15

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Siglas y abreviaturas.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 16

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Referencias bibliográficas.

            .row(style="display: flex; align-items: flex-start; margin-bottom: 5px")

                .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                    p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 1px 2px 1px 2px").text-center
                        strong 17

                .col-10.my-0.mx-0

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                    p.my-0 Lista de textos.

                    hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

        .col-12.col-md-6(style="background-color: #D3F1FF; display: flex; flex-direction: column; align-items: center; justify-content: center")

            img(src="assets/images/pages/img7.png", style="width: 100%; height: auto; display: block; padding: 10px")