include ../mixins/functions

+pageHeader('Elaboración del informe técnico', 'assets/images/header/header_media.png')

.container#presentacion

    .header-ecored

        h1 2. Presentación de un informe técnico

        .brand-line-primary

    .card.mb-3

        .row.no-gutters
            
            .col-md-6

                .card-body

                    .card-text

                        p(style="color: #3A9CA8; font-size: 31px") Presentación oral de un informe Técnico

                        br

                        p La presentación de un informe es tan importante como su contenido mismo, ya que, si se realiza de la forma adecuada, el público objetivo, recibirá el mensaje que se pretender dar. Para ello, es importante tener en cuenta los siguientes aspectos:

            .col-md-6.col-xl-6(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img5.jpg'); background-size: cover; background-repeat: no-repeat")

    br
        
    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img6.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

            p(style="padding-top: 2%").mx-2.my-2
                strong Ordenar y clasificar los objetivos

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Es importante formularse cuáles son los objetivos principales que se pretende con este proceso, esto permite enfocar con mayor claridad la presentación. 
    
    br
    
    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img7.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

            p(style="padding-top: 2%").mx-2.my-2
                strong Analizar el público

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Es importante analizar y conocer un poco la audiencia o público que está presente; aspectos como el grado de conocimiento del tema a desarrollar, necesidades relacionadas con el tema, la actitud y postura, son elementos que deberán tenerse en cuenta para la presentación.
    
    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img8.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

            p(style="padding-top: 2%").mx-2.my-2
                strong Seleccionar los materiales

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Los materiales de apoyo son esenciales al momento de realizar una presentación, los cuales deben ir acordes al tiempo disponible y la dinámica que se quiera dar a la presentación. 
    
    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img9.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

            p(style="padding-top: 2%").mx-2.my-2
                strong Organizar los materiales necesarios

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 Luego de su selección, es indispensable organizarlos, de tal forma que estén en el lugar adecuado y en el momento correcto; de igual manera, establecer el orden o la secuencia con la que se utilizarán, la cual debe estar acorde con el contenido de lo presentado. 
    
    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img10.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

            p(style="padding-top: 2%").mx-2.my-2
                strong Planificar y ensayar los medios audiovisuales

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 En ocasiones, se puede tener a disposición medios audiovisuales de gran tecnología; sin embargo, si no se conoce su forma de uso, es peor que no tenerlos; por lo tanto, es necesario que antes de la presentación, sean ensayados para validar su efectividad y apoyo.
    
    br

    .row.justify-content-center.align-items-center.mx-0(style="border-radius: 10px; background-color:#B1DFDA;")

        .col-2.justify-content-center.align-items-center

            img(src="assets/images/pages/img11.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

        .col-10(style="background-color:#D2F2EF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

            p(style="padding-top: 2%").mx-2.my-2
                strong Estructurar el mensaje

            hr(style="border: 1px solid #B1DFDA").mx-2.my-2

            p.mx-2.my-2 De acuerdo con lo que se conozca del público, el tema a desarrollar y la dinámica de la presentación, se puede estructurar un mensaje preciso a entregar, teniendo en cuenta lo siguiente:

                ul
                    li Crear o identificar la necesidad del público por el tema
                    li Dar un mensaje muy claro y fácil de comprender, dada la cantidad de información que se vaya a entregar
                    li Guiar al público por medio de sus pensamientos
                    li Utilizar la experiencia de otras presentaciones para mejorar la siguiente.
    
    br

    .card.mb-3

        .row.no-gutters
            
            .col-md-6

                .card-body

                    .card-text

                        p La dinámica de la presentación se define previamente; sin embargo, se ajustará al momento de su realización, acorde a todo lo que vaya sucediendo en el desarrollo, por lo cual, se pueden utilizar estrategias básicas para preparar la presentación:

                        br

                        ul
                            li Traer a colación experiencias vividas relacionadas con el tema
                            li Realizar preguntas asociadas al concepto de discusión
                            li Plantear ejemplos prácticos y sencillos de reconocer
                            li Citar frases célebres y reconocidas, en caso de no serlas, mencionar claramente al autor y un poco de su contexto 
                            li Identificar el punto de partida y el punto final de la presentación.

            .col-md-6.col-xl-6(style="background-color: #D3F1FF; display: flex; flex-direction: column; align-items: center; justify-content: center")

                img(src="assets/images/pages/img8.png", style="width: 80%; height: auto; display: block")