include ../mixins/functions

+pageHeader('Elaboración del informe técnico', 'assets/images/header/header_media.png')

.container#normatividad

    .header-ecored

        h1 3. Normatividad

        .brand-line-primary

    .card.mb-3

        .row.no-gutters
            
            .col-md-6

                .card-body

                    .card-text

                        p La normatividad que se aplica de forma general en la elaboración de informes, es la Norma Técnica Colombiana 1486, la cual brinda lineamientos para su construcción y presentación.

                        br

                        p Esta norma establece las reglas para la presentación formal de un trabajo académico, ya sea impreso o electrónico. Los trabajos académicos que se elaboran bajo las pautas de presentación de esta norma son aquellos requeridos en los niveles de educación básica primaria, secundaria, media vocacional, técnica, tecnológica y universitario (por ejemplo, tesis, monografía, ensayos, trabajos de investigación, artículos, informes), (ICONTEC NTC 1486, 2018). 

            .col-md-6.col-xl-6(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img6.jpg'); background-size: cover; background-repeat: no-repeat")

    br

    .row(style="background-color: #D3F1FF; display: flex").mx-0.p-3

        .col-6

            p.m-0 Las normas técnicas colombianas han pasado por un proceso de validación que permite tener una herramienta importante y confiable al momento de la elaboración de un informe. La NTC 1486, fue elaborada por empresas y universidades, tales como:

        .col-6

            ul
                li SIKA Colombia.
                li Universidad Externado de Colombia.
                li Universidad Católica de Colombia.
                li Universidad de la Salle.

    .card

        .row.no-gutters
            
            .col-md-6

                .card-body

                    .card-text

                        p Esta norma fue validada, entre otras empresas e Instituciones, como:

                        br

                        ul
                            li Alcaldía Mayor de Bogotá.
                            li Universidad Pontificia Javeriana.
                            li Institución Universitaria Politécnico Gran Colombiano.
                            li Instituto Alexander Von Humboldt.
                            li ICFES.
                            li Universidad EAN.

            .col-md-6.col-xl-6(style="background-image: url('assets/images/pages/img7.jpg'); background-size: cover; background-repeat: no-repeat")

    .row-12.justify-content-center.align-items-center.px-2.py-2(style="display: flex; background-color: #E2E6ED; border-radius: 6px")

        .col-2.text-center

            img(src="assets/images/pages/img12.svg", style="max-width: 80%").img-fluid

        .col-10

            p(style="margin-bottom: 0px") Los participantes en la elaboración y validación de la norma, por su actividad e impacto en el campo educativo, empresarial e investigativo, lograron generar una estructuración completa, clara y aplicable a diferentes campos.

    br

    .card.mb-3

        .row.no-gutters
            
            .col-md-6

                .card-body.p-0

                    .card-text

                        .row-12(style="padding: 10px").py-4

                            p La estructura de la norma está compuesta por una serie de requisitos que deben ser cumplidos para lograr sus objetivos y la elaboración de un informe bajo los estándares definidos nacionalmente.

                            br

                            p Sus requisitos están definidos en el capítulo 4: Requisitos de la NTC 1486 versión 2018, así:

                        .row-12(style="background-color: #EAF7FD; padding: 10px").py-4

                            p(style="color: #049BE5; font-size: 31px") Presentación del documento final

                            br

                            ul(style="margin: 0px;")
                                li Soporte electrónico o impreso.
                                li Márgenes y espacios interlineales.
                                li Interlineado.
                                li Fuente y tamaño.
                                li Numeración de páginas.
                                li Redacción.
                                li Puntuación. 

            .col-md-6.col-xl-6(style="background-color: #CBEAE7; display: flex; flex-direction: column; align-items: center; justify-content: center")

                img(src="assets/images/pages/img9.png", style="width: 70%; height: auto; display: block")

    .row-12(style="display: flex; flex-direction: column; border-radius: 10px; background-color: #FFFFFF").p-3

        p(style="color: #3A9CA8; font-size: 30px") Partes del trabajo académico. 

        .row-12(style="display: flex; flex-direction: row; flex-wrap: wrap")

            .col-12.col-md-4(style="background-color: #FFFFFF")

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 01

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Preliminares

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 02

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Tapas y pastas

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 03

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Guardas

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 04

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Cubierta

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 05

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Portada

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 06

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Página de aceptación

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 07

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Página de dedicatoria

            .col-12.col-md-4(style="background-color: #FFFFFF")

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 08

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Página de agradecimientos

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 09

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Página de contenido

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 10

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Listas especiales

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 11

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Glosario

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 12

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Resumen

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 13

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Cuerpo del documento

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 14

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Introducción

            .col-12.col-md-4(style="background-color: #FFFFFF")

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 15

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Capítulos

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 16

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Cita de los números de divisiones y subdivisiones en el texto

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 17

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Ilustraciones

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 18

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Recomendaciones

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 19

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Complementarios

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 20

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Bibliografía

                .row-12(style="display: flex; align-items: center; margin-bottom: 5px")

                    .col-2.my-0.mx-0.text-center(style="display: flex; align-items: center; justify-content: center")

                        p(style="color: #FFFFFF; background-color: #68C3EF; border-radius: 20px; margin-bottom: 0px; padding: 2px 2px 2px 2px").text-center
                            strong 21

                    .col-10.my-0.mx-0

                        hr(style="border: 1px solid #E0F9FF; margin-top: 0px !important; margin-bottom: 0px !important").my-2

                        p.my-0 Anexos.
    
    br

    .row-12(style="background-color: #FFFFFF; border-radius: 10px").p-4

        .row-12

            p La estructura general que se mostró, aplica para diferentes trabajos académicos incluido el informe; a continuación, se muestra la aplicación de cada parte del trabajo según el tipo de documento.
        
        br
        
        .row-12(style="display: flex; flex-direction: column; align-items: center; justify-content: center")

            img(src="assets/images/pages/img14.svg", style="width: 90%; height: auto; display: block")

        br

        .row-12.text-center

            p.m-0.p-0
                strong Nombre: partes del trabajo académico y su aplicación
            
            p.m-0.p-0
                strong Fuente imagen: 
                | NTC 1486 – 2018
    
    br

    .row-12.justify-content-center.align-items-center.px-2.py-2(style="display: flex; background-color: #E2E6ED; border-radius: 6px")

        .col-2.text-center

            img(src="assets/images/pages/img13.svg", style="max-width: 80%").img-fluid

        .col-10

            p(style="margin-bottom: 0px") Con la utilización de este tipo de normas, se garantiza tener un contenido adecuado para realizar la presentación de un informe, independientemente de la forma o el medio que utilice para hacerlo.